.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0; 
    gap: 20px;
    padding: 20px 0;
}
.profile-container {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.profile-container IMG{
    width: 200px;
    height: auto; 
}

.profile-info {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    text-align: left;
}

.profile-info p {
    margin: 2px 0; 
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project1-img {
    display: flex;
    gap: 10px; 
    justify-content: center;
}

.project1-img img{
    width: 40%;
    height: auto;
}

.project2-img {
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    justify-content: center;
    
}

.project2-img img {
    width: 24%;
    height: auto;
    object-fit: cover;

}



